.myBody{
    background-image: url(../img/bg.jpeg);
    min-height: 820px;
    background-size: cover;
    background-attachment: fixed;
}
.imgLogo{
    width: 60px;
}
nav, footer{
    background-color: rgba(44, 19, 29, 0.7);
}

a{
    text-decoration: none;
}

.my404{
    font-size: 100px;
    font-weight: bolder;
    text-shadow: #FC0 1px 0 10px;
}